@import '../../global.scss';

.signup {
    margin: 2rem 10rem;

    .section {
        display: flex;
        flex-direction: row;

        .left {


            img {
                max-width: 400px;
            }
        }

        .right {
            margin-left: 9rem;

            form {

                h1 {
                    font-size: 4rem;
                    margin-bottom: 2rem;
                    font-weight: 500;
                    font-family: 'Roboto', sans-serif;
                    color: $main-color;
                }   
                
                .form-row {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                   
                    .form-group {
                       
                        input {
                           
                        }
                    }

                   
                }
            }

           
        }

    }
}