@import '../../../global.scss';

.testimonial {
    background-color: #fff;
    position: relative;

    .boder {
        background-color: rgb(13, 229, 245);
        margin: 4rem;
        width: 400px;
        height: 400px;
        border-radius: 50%;
        position: relative;
        z-index: 10;
    }
    

    .rows {
        display: flex;
        flex-direction: row;
         
        .imago {

            img{
                min-width: 450px;
                min-height: 450px;
                position: absolute; 
                top: 0;
            }
        }
       
        

        .test {

            h3 {
                font-size: 2rem;
            }

            h4 {
                font-size: 2rem;
            }
        }
    }
}

