@import '../../global.scss';

.home {
    color: rgb(28, 25, 1);
    font-family: 'Urbanist', sans-serif;
    background-color: $light-color;
    height: 100vh;
    h1 {
        margin-top: 4rem;
        font-size: 3rem;
        font-weight: 900;
        color: $dark-color;
    }
    h3 {
        font-size: 1rem;
        font-weight: 900;
        color: $light-color;
        padding: 1rem;
        border-radius: 5px;
        background-color: $main-color;
    }
    p {
        font-size: 1.50rem;
        margin-top: 1rem;
    }
    .sections {
        display: flex;
        margin-left: 5rem;
        .left-column {
            max-width: 550px;
            margin-top: 1.75rem;
        }
        .buttons {
            display: flex;
            flex-direction: row;
            margin-top: 2rem;

            button {
                color: $light-color;
                background-color: $main-color;
                margin: 1rem;
                font-size: 1rem;
                padding: 0.7rem;
                padding-left: 3rem;
                padding-right: 3rem;
                border-radius: 2rem;
            }
            button:hover {
                border-radius: 3px;
                transition: 1s;
                transform: scale(1.2);
                font-weight: 700;
            }
            
        }
        .right-column {
            display: flex;
            flex-direction: row;
            margin-top: 4rem;
            margin-left: 5rem;

            img {
                border-radius: 1.5rem;
            }
        }


    }

    // SECOND SECTION


    .sections1 {
        display: flex;
        margin: 4rem;

        .rows {
            display: flex;
            flex-direction: row;

            .row1 {
                max-width: 200px;
                h1 {
                    font-size: 2rem;
                    color: $dark-color;
                }
            }

            .row2 {
                max-width: 200px;
                margin: 2rem;
                box-shadow: 0 4px 8px 0 rgba(3, 126, 134, 0.4);
                padding: 2rem;
                border-radius: 1rem;

                h2 {
                    font-size: 2rem;
                    color: $main-color;
                    font-size: 3rem;
                    font-weight: 900;
                }

                h4 {
                    font-size: 1.7rem;
                }
            }

            .row2:hover {
                box-shadow: 0 4px 16px 0 rgba(3, 126, 134, 0.9);
            }

            .row3 {
                max-width: 200px;
                margin: 2rem;
                box-shadow: 0 4px 8px 0 rgba(3, 126, 134, 0.4);
                padding: 2rem;
                border-radius: 1rem;

                h2 {
                    font-size: 2rem;
                    color: $main-color;
                    font-size: 3rem;
                    font-weight: 900;
                }

                h4 {
                    font-size: 1.7rem;
                }
            }

            .row3:hover {
                box-shadow: 0 4px 16px 0 rgba(3, 126, 134, 0.9);
            }

            .row4 {
                max-width: 200px;
                margin: 2rem;
                box-shadow: 0 4px 8px 0 rgba(3, 126, 134, 0.4);
                padding: 2rem;
                border-radius: 1rem;

                h2 {
                    font-size: 2rem;
                    color: $main-color;
                    font-size: 3rem;
                    font-weight: 900;
                }

                h4 {
                    font-size: 1.7rem;
                }
            }

            .row4:hover {
                box-shadow: 0 4px 16px 0 rgba(3, 126, 134, 0.9);
            }



            

            
        }
    }
}
