@import '../../global.scss';

.home {
    color: rgb(28, 25, 1);
    font-family: 'Urbanist', sans-serif;
    background-color: $light-color;
    height: 100vh;
        h1 {
            font-size: 3rem;
            font-weight: 900;
            color: $dark-color;
        }
        h3 {
            font-size: 1rem;
            font-weight: 900;
            color: $light-color;
            border-radius: 5px;
            background-color: $main-color;
        }
        p {
            font-size: 1.50rem;
            margin-top: 1rem;
        }
    
    .sections {
        display: flex;
        margin-left: 5rem;

        .left-column {
            max-width: 550px;
            margin-top: 2rem;
        }

        .right-column {
            
            img {
                min-width: 200px;
                margin-left: 5rem;
            
            }
        }

        
        .buttons {
            display: flex;
            flex-direction: row;
            margin-top: 2rem;

            button {
                color: $light-color;
                background-color: $main-color;
                margin: 1rem;
                font-size: 1rem;
                padding: 0.7rem;
                padding-left: 3rem;
                padding-right: 3rem;
                border-radius: 2rem;
            }
            button:hover {
                border-radius: 3px;
                transition: 1s;
                transform: scale(1.2);
                font-weight: 700;
            }
            
            
        }

       

    }
}
