@import '../../global.scss';

.home {
    color: rgb(28, 25, 1);
    font-family: 'Urbanist', sans-serif;
    background-color: $light-color;
    height: 100vh;
        h1 {
            // margin-top: 4rem;
            font-size: 3rem;
            font-weight: 900;
            color: $dark-color;
        }
        h3 {
            font-size: 1rem;
            font-weight: 900;
            color: $light-color;
            border-radius: 5px;
            background-color: $main-color;
        }
        p {
            font-size: 1.50rem;
            margin-top: 1rem;
        }
    
    .sections {
        display: flex;
        margin-left: 5rem;

        .left-column {
            max-width: 550px;
            margin-top: 2rem;
        }
        .buttons {
            display: flex;
            flex-direction: row;
            margin-top: 2rem;

            button {
                color: $light-color;
                background-color: $main-color;
                margin: 1rem;
                font-size: 1rem;
                padding: 0.7rem;
                padding-left: 3rem;
                padding-right: 3rem;
                border-radius: 2rem;
            }
            button:hover {
                border-radius: 3px;
                transition: 1s;
                transform: scale(1.2);
                font-weight: 700;
            }
            
        }

        .right-column {

            img {
                // border-radius: 1.5rem;
                min-width: 200px;
                margin-left: 5rem;
            }
        }
    }
    

    // SECOND SECTION


    .section2 {
        margin: 4rem;

        .house {
            background-color: $main-color;
            border-radius: 3rem;
            justify-content: center;
            align-content: center;
    
            .head1 {
                display: flex;
                flex-direction: row;
                padding: 4rem;
                
            }
            .body1 {
                padding: 4rem;
                align-items: center;
                justify-content: center;
                align-self: center;

                .row1 {
                    background-color: $main-light-color;
                    padding: 2rem;
                    border-radius: 33px;
                    min-height: 239px;
                    max-width: 188px;
                    align-items: center;

                    i {
                        color: $main-color;
                        font-size: 2rem;
                        margin-bottom: 20px;
                    }

                    h4 {
                        color: $main-color;
                    }
                }

            }

        }
    }
}
