@import "../../global.scss";


nav {
    display: flex;
    font-family: 'Urbanist', sans-serif;
    justify-content: space-around;
    align-content: center;
    background-color: $main-color;


    .logo {
        display: flex;
        flex-direction: row;
        border: 0;
        margin: 0;
        font-family: 'Roboto Mono', monospace;
        padding: 5px;
        color: white;
        font-size: 2rem;

        img {
            max-width: 40px;
            max-height: 30px;
            margin-top: 10px;
        }
    }
   
        .nav-links {
            display: flex;
            justify-content: space-around;
            width: 30%;
            padding-top: 20px;
            transition: 0.5s ease-in-out;

            @include mobile {
                position: absolute;
                display: block;
                top: 0;
                left: 0;
                height: 100vh;
                background-color: $main-color;
                transform: translateX(-400px)
            }

            li {
                list-style: none;

                @include mobile {
                    padding: 10px;
                    margin-bottom: 1rem;
                    width: 50%;
                    border-bottom: 1px solid $light-color;
                    
                }
            
                a {
                    text-decoration: none;
                    font-size: 16px;
                    color: $light-color;
                    font-weight: 500;

                    @include mobile {
                        font-size: 15px;
                        color: $light-color;
                        padding: 30px;
                        margin-bottom: 1rem;
                        width: 50%;
                        padding: 10px;

                    }
                }
                a:hover {
                    color: $main-color;
                    background-color: $light-color;
                    padding: 5px;
                    font-weight: 700;
                    border-radius: 5px;
                    transition: 1s ease-in;
                    transition: 0.5s ease-out;
                    
                }

            }

           
        }

        .burger {
            display: none;
            cursor: pointer;

            @include mobile {
                display: block;
            }
        }

        

}


