.Home3 {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    .img {
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;
        img {
            width: 100vw;
        }
    }
}