$main-color: rgb(29,43,108);
$light-color: rgb(255, 255, 255);
$dark-color: rgb(11,10,35);
$main-light-color: rgb(243,141,45);

$width: 768px;

@mixin mobile {
    @media (max-width: #{$width}){
        @content
    }
}


* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
}
