@import '../../../global.scss';

.Home1 {

    .row {
        display: flex;
        flex-direction: row;

        .left {
            max-width: 400px;
            margin-left: 4rem;
            
        }

        .right {
            max-width: 300px;
            margin-left: 24rem;
            margin-top: 13rem;

            h2 {
                font-size: 2.50rem;
                color: $main-light-color;
            }

            p {
                min-width: 400px;
                font-size: 2rem;
            }
        }
    }


    .row2 {
        background-color: $main-color;

        .section {
            margin: 4rem;
            display: flex;
            flex-direction: row;
            align-content: space-between;
            padding: 6rem;

            .left {
                max-width: 200px;
                h1 {
                    color: $main-light-color;
                }
            }

            .right {
                margin-left: 4rem;

                p {
                    max-width: 700px;
                    color: white;
                    font-size: 2rem;
                    letter-spacing: 1px;
                    line-height: 40px;
                    word-spacing: 5px;
                }
            }

        }
    }
    
}