@import '../../../global.scss';

.Home1 {

    .row {
        display: flex;
        flex-direction: row;

        .left {
            max-width: 400px;
            margin-left: 4rem;
            
        }

        .right {
            max-width: 300px;
            margin-left: 24rem;
            margin-top: 13rem;

            h2 {
                font-size: 2.50rem;
                color: $main-light-color;
            }

            p {
                min-width: 400px;
                font-size: 2rem;
            }
        }
    }
}