@import '../../../global.scss';

.Home2 {
    .sections1 {
        display: flex;
        background-color: $main-color;
        padding: 4rem;
        font-family: 'Gluten', cursive;
        justify-content: center;
        align-items: center;
        align-content: center;
        align-self: center;

        

        .rows {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            align-content: center;
            align-self: center;

            .row2 {
                margin: 2rem;
               
                img {
                    max-width: 300px;
                    box-shadow: 0 4px 8px 0 rgba(13, 229, 245, 0.4);
                    padding: 2rem;
                    border-radius: 1rem;
                }

                p {
                    max-width: 300px;
                }


                img:hover {
                    box-shadow: 0 4px 16px 0 rgba(189, 238, 241, 0.9);
                    transform: scale(1.1);
                    transition: 0.7s ease-in-out;
                }
            }

            .row3 {
                margin: 2rem;
               
                img {
                    max-width: 300px;
                    box-shadow: 0 4px 8px 0 rgba(13, 229, 245, 0.4);
                    padding: 2rem;
                    border-radius: 1rem;
                }

                img:hover {
                    box-shadow: 0 4px 16px 0 rgba(189, 238, 241, 0.9);
                    transform: scale(1.1);
                    transition: 0.7s ease-in-out;
                }
            }

            .row4 {
                margin: 2rem;
               
                img {
                    max-width: 300px;
                    box-shadow: 0 4px 8px 0 rgba(13, 229, 245, 0.4);
                    padding: 2rem;
                    border-radius: 1rem;
                }

                img:hover {
                    box-shadow: 0 4px 16px 0 rgba(189, 238, 241, 0.9);
                    transform: scale(1.1);
                    transition: 0.7s ease-in-out;
                }
            }

            
            
        }

    }
}